/*---About Page start---*/
.container_img{
    height: 230px;
    width: 100%;
    background-position: center;
    filter: brightness(70%);
  }
  
  .container_item{
  color: #fbf8f8;
  font-size: 26px;
  font-family: roboto,monospace;


  }
  .container_item:hover{
    color:rgb(0 155 0);
    font-size: 30px;
    border-bottom: 5px solid rgb(0 155 0);
    cursor: pointer;
    transition: 0.5s;
    border-radius: 5px;
    }
  
  
  .about-us{
    padding-top: 20px;
    width: 80%;
    margin: auto;
    text-align: left;
    padding-bottom: 5%;
    border-radius: 20px;
    background-color: #dae6f0;
  
  }
  .about-us .row{
    display: flex;
    flex-basis: 48%;
    border-radius: 10px;
  }
  
  .about-col h1{
    padding-top: 15px;
    font-size: 30px;
    margin: 20px;
    color:#5599d1;
    font-weight: 800;
    font-family: "Cascadia Code", monospace;
   width: 100%;
  }
  .about-col h2{
    padding-top: 15px;
    font-size: 20px;
    margin: 20px;
    color:#237dc6;
    font-weight: 500;
    font-family: "Cascadia Code", monospace;
    width: 100%;
  }
  
  .about-col p,.about-col li {
    margin: 5px 10px 10px 20px;
    font-family:cursive;

    font-size: 15px;
    font-weight: 300;
  }
  
  .about-col a{
    margin: 20px;

  }
  
  .about-col img{
    border-radius: 10px;
  }
  
  .about-col p{
    padding-top: 15px;
    padding-bottom: 15px;
  }
  
  .hero-btn-blue {
    text-decoration: none;
    color: #41525f;
    border: 2px solid #41525f;
    padding: 12px 34px;
    border-radius: 10px;
    font-size: 12px;
    background: transparent;
    transition: 0.5s;
  }
  
  .hero-btn-blue span{
    text-align: center;
  }
  
  .hero-btn-blue:hover {
    color: black;
    border: 1px solid #023863;
    background: #5599d1;
    transition: 1s;
  }
  /*---About Page End---*/
  