/* Body */

* {
  font-family: 'Kanit', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


/* Website header Start*/

.header {
  min-height: 100vh;
  width: 100;
  background-image:url('assets/events_banner/logo.jpeg');
  background-position: center;
  background-size: cover;
  position: relative;
}
.logo_text{
text-decoration: none;
font-size: 30px;
color: whitesmoke;

}

nav {
  display: flex;
  padding:2% 6%;
  justify-content: space-between;
  align-items: center;
}

nav img {
  width: 150px;
}

.nav-links {
  flex: 1;
  text-align: right;
}

.nav-links ul li {
  list-style: none;
  display: inline-block;
  padding: 8px 12px;
  position: relative;
}

.nav-links ul li a {
  text-decoration: none;
  color: #fff;
  font-size: 13px;
}

.nav-links ul li a:hover {
  color: #5599d1;
  text-decoration: none;
  transition: 0.5s;
}

.text-box {
  width: 90%;
  color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.text-box h1 {
  font-size: 60px;
  margin-top: 120px;
}

.text-box p {
  margin: 10px 0px 40px;
  font-size: 14px;
  color: #fff;
}

.hero-btn {
  text-decoration: none;
  color: #fff;
  background-color: #1d3557;
  border: 1px solid #fff;
  padding: 12px 34px;
  font-size: 13px;
  border-radius: 1px;

}

.hero-btn:hover {
  border: 1px solid #f4f6f9;
  transition: 0.6s;
  border-radius: 10px;

}

nav .fa {
  display: none;
}

@media(max-width: 700px) {
  .text-box h1 {
      font-size: 30px;
  }

  .text-box p {
      font-size: 12px;
  }


  .nav-links ul li {
      display: block;

  }

  .nav-links {
      position: fixed;
      background:#1d3557;
      height: 100vh;
      width: 200px;
      top: 0%;
      right: -200%;
      text-align: left;
      z-index: 2;
  }

  nav .fa {
      display: block;
      color: #fff;
      margin: 10px;
      font-size: 22px;
      cursor: pointer;
  }

  .nav-links ul {
      padding: 30px;
  }
}
/* Website header end  */

/* Image slider section start*/
/* 
.image_slide_container{
  text-align: center;
  text-decoration: underline;
  background: linear-gradient(140deg,#457b9d,#1d3557,#f1faee);
  font-size: larger;
  color:#1d3557;
  padding: 5px;

}
.image_slide_container h1:hover{
 
  cursor: pointer;
}

div.scroll-Images {
  overflow: auto;
  white-space: nowrap;
  padding: 10px;
}

div.scroll-Images img {
  padding: 10px;
  height: 50vh;
  width: 100%;
  overscroll-behavior-inline: contain;
  border-radius: 20px;
  border-bottom: none; 
}

.scroll-Images::-webkit-scrollbar {
 border-radius: 15px;
  background: linear-gradient(140deg,#457b9d,#1d3557,#f1faee);
  height: 5px;

}

.scroll-Images img:hover{
  transform: scale(0.9);
  filter: brightness(100%);
  transition: 0.5s ease-in-out;
  border-radius: 20px;
} */

/* Image slider section end*/



/* banner hover effect start */
.bannerhover{
  display:flex;
  flex-wrap:wrap;
  align-items:center;
  justify-content:center;
  background: linear-gradient(180deg,#5599d1,#237dc6,#023863);
  }
  
  .bannercard {
    width: 100%;
    height: 254px;
    border-radius: 4px;
    background: #212121;
    display: flex;
    gap: 5px;
    padding: .4em;
  }
  
  .bannercard p {
    height: 100%;
    flex: 1;
    overflow: hidden;
    cursor: pointer;
    border-radius: 2px;
    transition: all .5s;
    background: #41525f;
    border: 1px solid #5599d1;
   
  }
  
  .bannercard p:hover {
    flex: 6;
   
  }
  
  .bannercard p span {
    min-width: 18em;
    padding: .5em;
    text-align: center;
    transform: rotate(-90deg);
    transition: all .5s;
    text-transform: uppercase;
    color: #ff568e;
    letter-spacing: .1em;
  }
  
  .bannercard p:hover span {
    transform: rotate(0);
  }
/* banner hover effect end*/




/*-- student notice board --*/
.notice-container {
   box-sizing: border-box; 
   max-width: 100%; 
   padding: 10px;
   display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  background-color: #dae6f0;
}

.notice-area {
   margin: auto;
   max-width: 600px;
   padding: 60px 4px;
 }

.notice-heading {
  padding: 3.5px;
  background: linear-gradient(145deg,#023863,#5599d1,#41525f );
  height: 50px;
  border-radius: 20px 20px 0px 0px;
}

.line span { 
  position:relative;
 }

.line span:before {
  content:"";
  position:absolute;
  top: 100%;
  width:105%;
  height:2.5px;
  border-radius:10px;
  background:linear-gradient(145deg, transparent, #9600ff,#1d3557 80%,transparent);
}

.notice-heading h4{
  text-align: center;
  color: #fff;
  font-size: 30px;
  text-shadow: 2px 2px 3px rgba(0,0,0,0.7);
}

.first-box, .second-box, .third-box{
  margin: 0px 10px;
  border-radius: 20px;
  background: #5599d1;
  box-shadow: 0px 20px 25px -10px rgba(0, 0, 0,.5); 
}

.third-box {
  margin: 0px 10px;
  height: 500px;
  background: #5599d1;
  padding-left: 5px;
  overflow: hidden;
}

.third-box marquee { height: 500px; }

.alert-box {
  width:90%;
  margin:20px auto;
  padding: 5px 10px;
  position:relative;
  background-color: #f5f5f5;
  border-radius:5px;
  box-shadow:10px 5px 5px 0px #023863;
}
.alert-box  a { 
  font-weight: 400;
  font-size: 20px;
  color: #000;
  line-height: 30px;
  white-space: pre-wrap;
}

.simple-alert { 
   border-left:5px solid #023863;
   transition: transform 0.3s ease-out;
 }
.simple-alert:hover {
   transform: translate(0, 5px);
 }

fieldset {
   border:0; 
}

legend {
   font-size: 12px; 
  padding: 0px 5px; 
  color: white; 
  background-color: #ff568e; 
  border-radius: 10px;
 }

@keyframes flash {
  0%, 50%, 100% {opacity: 1;}
  25%, 75% {opacity: 0;}
}
.flash {
  animation-name: flash;
  animation-duration: 3s;
  animation-fill-mode: both;
  animation-iteration-count: infinite;
}



.upcoming-event-section {
   box-sizing: border-box;
    margin: auto;
     width: 380px; 
     background: #f5f5f5; 
     height: 420px;
    border: 2px solid;
     border-image-slice: 1; 
     border-image-source: linear-gradient(145deg, pink, #9600ff 20%,cyan 80%,transparent);
     }

.event-header {
   text-align: center;
   margin: 20px 0px 10px;
   padding-bottom: 10px; 
  position: relative; 
}

.event-header h3 {
   font-size: 22px;
   font-weight: 400; 
  line-height: 40px; 
  margin-bottom: 0px;
 }
.event-header .event-line { 
  background-color: #ddd; 
  position: absolute;
   width: 380px;
   right: 0; 
  height: 2px; 
}

.event-body {
   margin: 0px; padding: 0px; 
  }

.event-box {
   border:1px solid #ddd; 
  box-sizing: border-box;
   margin: 0px;
   overflow: hidden;
   padding: 10px 15px 25px; 
  transition: transform 0.3s ease-out;
 }
.event-box:hover { 
  transform: translate(0, 5px);
 }

.time-from { 
  border: 1px solid #5599d1;
   box-sizing: border-box; 
  color: #5599d1; 
  float: left; 
  margin: 0px;
   text-align: center;
   width: 48px; 
}
.date {
   font-size: 24px;
   font-weight: 700; 
  line-height: 25px; 
  margin: 15px 0px 0px;
 }

.event-wrapper {
   box-sizing: border-box; 
  float: right;
   position: relative;
   width: calc(100% - 66px);
 }
.event-wrapper h5 {
   font-size: 18px;
   margin: 10px 0px;
 }
a { 
  color: #333333; text-decoration-line: none; 
}

.time { 
  font-size: 13px;
   font-weight: 700; 
  text-transform: uppercase; 
  display: inline-block;
   margin-left: 20px;
 }







